.bg-blue{
    background-color: #3FD6B1;
    height: 100vh;
    padding-top: 50px;
    padding-inline: 200px;
}

.box{
    width: 100%;
    height: 500px;
    background-color: rgb(39, 144, 170);
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.box2{
    width: 100%;
    height: 500px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}